In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [2]:
#!pip3 install psycopg2
#!pip install psycopg2-binary

In [3]:
# conn = psycopg2.connect(
#     host="db",
#     database="postgres")

In [4]:
conn = psycopg2.connect(
    host="db",
    database="jupyterdb",
    user="jupyterdb_user",
    password="jupyterdb_user_123")

In [5]:
cur = conn.cursor()
#cur.execute("ROLLBACK")
# Execute a command: this creates a new table
# cur.execute("CREATE TABLE test (id serial PRIMARY KEY, num integer, data varchar);")
# Pass data to fill a query placeholders and let Psycopg perform
# the correct conversion (no more SQL injections!)
# cur.execute("INSERT INTO test (num, data) VALUES (%s, %s)",(102, "abcdefg"))
# cur.execute("SELECT * FROM test;")
# cur.fetchone()
# cur.execute("SELECT * FROM test;")
# cur.fetchall()

In [6]:
# Read Data
df = pd.read_csv('wine.data')

In [7]:
df.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [8]:
df.shape

(177, 14)

In [9]:
#engine = create_engine('postgresql+psycopg2://user:password@hostname/database_name')
engine = create_engine('postgresql://jupyterdb_user:jupyterdb_user_123@db:5432/jupyterdb')

In [10]:
#write to postgres
df.to_sql('wine',engine)

ValueError: Table 'wine' already exists.

In [11]:
#read by sqlalchemy
df_pg = pd.read_sql_query('select * from wine',con=engine)

In [12]:
df_pg.head()

,index,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [13]:
count = pd.read_sql_query('select count(*) from wine',con=engine)

In [14]:
count

   count
0    177